
.header-container {
  position: relative;
  display: inline-block;
  text-align: center;

}
.header-container img {
  display: inline-block;
  width: 80%;
  height: auto;
  padding-left: 5cm;
}

.pork-container a {
  padding-left: 5cm;
  position: relative;
  display: inline-block;
}

.definition {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-left: 5cm;
}